addict==2.4.0
#diffusers
#gradio
huggingface_hub==0.23.5
matplotlib==3.7.1
numpy==1.26.4
onnxruntime
opencv_python==4.10.0.84
Pillow==9.4.0
pycocotools==2.0.8
PyYAML==6.0.2
requests==2.32.3
setuptools==71.0.4
supervision==0.19.0
termcolor==2.4.0
timm==1.0.8
torch
torchvision
transformers==4.44.0
yapf==0.40.2
nltk==3.8.1
fairscale==0.4.13
litellm==1.43.19
